<div class="uk-container-xlarge uk-margin-medium-top uk-margin-large-left">
  <div
    class="
      uk-margin
      uk-margin-auto-right
      uk-margin-auto@m
      uk-width-1-2@s
      uk-card
      uk-card-default
      uk-card-body
    "
  >
    <h3 class="uk-card-title uk-margin-remove-bottom">
      Autômato Finito Determinístico
    </h3>
    <p class="uk-margin-remove-top">
      Descubra se um número binário é par ou ímpar.
    </p>
    <div class="uk-column-1-2">
      <input
        [ngModel]="inputValue"
        (ngModelChange)="onChange($event)"
        placeholder="Sequência"
        class="uk-input"
      />
      <div class="uk-margin-top">
        <a class="uk-text-success" *ngIf="accept">
          Aceita
          <i class="fa-solid fa-check"></i>
        </a>
        <a class="uk-text-danger" *ngIf="!accept">
          Recusada
          <i class="fa-solid fa-xmark"></i>
        </a>
      </div>
    </div>
    <div class="column uk-margin-top" *ngIf="sequence">
      Sequência: {{ sequence }}<br />
      Estado: {{ autonomo.states }}<br />
      Alfabeto: {{ autonomo.alphabet }}<br />
      Estado Inicial: {{ autonomo.initialState }}<br />
      Estado de Aceitação: {{ autonomo.finalState }}<br />
    </div>
  </div>
</div>
