<div class="uk-container-xlarge uk-margin-medium-top uk-margin-large-left">
  <div
    class="
      uk-margin
      uk-margin-auto-right
      uk-margin-auto@m
      uk-width-1-2@s
      uk-card
      uk-card-default
      uk-card-body
    "
  >
    <h3 class="uk-card-title">Autômato Finito Não Determinístico</h3>
    <p>Opa, eu ainda não fui implementado :)</p>
    <div class="uk-column-1-2">
      <!-- <input placeholder="Sequência" class="uk-input" />
      <div>
        <a class="uk-text-success">
          Aceita
          <i class="fa-solid fa-check"></i>
        </a>
        <a class="uk-text-danger">
          Recusada
          <i class="fa-solid fa-xmark"></i>
        </a>
      </div> -->
    </div>
    <div class="column"></div>
  </div>
</div>
