* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.accepted {
  color: rgb(20, 100, 20);
}

.rejected {
  color: rgb(136, 10, 10);
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

input {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

a {
  padding: 12px 20px;
  margin-top: 0.5rem;
}
