<div class="uk-container-xlarge uk-margin-medium-top uk-margin-large-left">
  <div
    class="
      uk-margin
      uk-margin-auto-right
      uk-margin-auto@m
      uk-width-1-2@s
      uk-card
      uk-card-default
      uk-card-body
    "
  >
    <!-- Header -->
    <div class="d-flex header">
      <div class="p-2">
        <h2>Tarefas</h2>
      </div>
      <div class="p-2">
        <i class="bi bi-plus-circle" (click)="showForm()"></i>
      </div>
      <!-- TODO: deleteAll -->
      <!-- <div class="p-2">
        <i class="bi bi-trash-fill"></i>
      </div> -->
    </div>

    <!-- Form -->
    <form [formGroup]="form" *ngIf="isCreating" class="uk-margin-small-top">
      <!-- Title input -->
      <div class="form-outline mb-2">
        <input
          [ngClass]="{
            'uk-form-danger':
              form.controls.title.invalid && !form.controls.title.pristine
          }"
          type="text"
          class="form-control p-2"
          placeholder="Título"
          formControlName="title"
        />

        <small
          class="text-danger p-2"
          *ngIf="form.controls.title.invalid && !form.controls.title.pristine"
          >Este campo não pode estar vazio.</small
        >
      </div>

      <!-- Description input -->
      <div class="form-outline mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Descrição"
          formControlName="description"
        />
      </div>

      <!-- Create button -->
      <div class="d-flex flex-row-reverse">
        <button
          class="btn btn-primary"
          [disabled]="form.invalid"
          (click)="add()"
        >
          Adicionar
        </button>
      </div>
    </form>
    <hr />

    <div *ngIf="tasks.length === 0">
      <small>Nenhuma tarefa hoje!</small>
    </div>

    <!-- List das tasks -->
    <ul class="list-group" *ngFor="let todo of tasks">
      <div *ngIf="!todo.edit">
        <li class="list-group-item done" *ngIf="todo.done"></li>
        <li class="list-group-item undone" *ngIf="!todo.done"></li>

        <li
          class="
            list-group-item
            d-flex
            justify-content-between
            align-items-center
          "
        >
          <a>
            <i
              class="bi bi-check2 p-2 alignItems"
              *ngIf="todo.done"
              (click)="markAsDone(todo)"
            ></i>
            <i
              class="bi bi-x p-2 alignItems"
              *ngIf="!todo.done"
              (click)="markAsDone(todo)"
            ></i>
          </a>
          <!-- Title  -->
          <div class="text-uppercase p-2 flex-fill">
            {{ todo.title }}
          </div>
          <a (click)="markAsEdit(todo)">
            <i class="bi bi-pen p-2"></i>
          </a>
          <a (click)="remove(todo)">
            <i class="bi bi-trash3-fill p-2"></i>
          </a>
        </li>
        <!-- Description -->
        <li
          class="list-group-item d-flex align-items-center description"
          *ngIf="todo.description"
        >
          <small>{{ todo.description }}</small>
        </li>
      </div>

      <div *ngIf="todo.edit">
        <li class="list-group-item edit"></li>

        <li class="list-group-item d-flex align-items-center">
          <!-- Edit Title -->
          <div class="text-uppercase p-2 flex-fill">
            <input
              type="text"
              class="form-control edit-input"
              placeholder="Novo Título"
              [value]="todo.title"
              (change)="changeFn($event, todo, true)"
              [ngClass]="{
                'uk-form-danger': todo.title === ''
              }"
            />
          </div>

          <button
            (click)="markAsEdit(todo)"
            class="btn"
            [disabled]="todo.title === ''"
          >
            <i class="bi bi-pen p-2"></i>
          </button>
        </li>
        <!-- Edit Description -->
        <li
          class="list-group-item d-flex align-items-center description"
          *ngIf="todo.description"
        >
          <input
            type="text"
            class="form-control edit-input"
            placeholder="Nova Descrição"
            [value]="todo.description"
            (change)="changeFn($event, todo, false)"
          />
        </li>
      </div>
    </ul>
  </div>
</div>
