#left-col {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #1e6642;
  width: 80px;
  z-index: 2;
}

.uk-nav-default > li {
  margin-top: 16px;
}

.fa-lg {
  min-width: 32px;
}
